[Unit]
Description=Multicast DNS (mDNS) reflector
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/mdns-reflector
EnvironmentFile=-/etc/default/mdns-reflector
EnvironmentFile=-/etc/default/mdns-reflector.d/*
ExecStart=/usr/bin/mdns-reflector -fnl $LOGGING_LEVEL $DAEMON_ARGS $INTERFACES
User=nobody
Restart=on-failure

[Install]
WantedBy=multi-user.target
